*.pyc
server/config.py
server/hound.db
server/hound/static/hound.rules
server/hound.log
server/hound/hound.log

*.swp
*.log.*

*test-hound.db

celerybeat-schedule
celerybeat.pid

honeypot/houndclient.conf

/.vagrant
/env

index.html*

# Emacs
*~
*#
.#*

.DS_Store
